$black: #1D1F20;
$grey3: #C6C6C6;
$light-grey2: #F2F2F2;
$red: #D33836;
$red-dark: #71272A;
$light-grey1: #ECEBE5;
$light-red: #E35553;
$grey1: #4F4F4F;
$grey2: #979797;
$grey4: #6A7882;
$yellow: #FEFAEA;
$light-green: #F0F9F6;
$light-grey3: #F9F9F9;
$pink: #FDF0F1;
$dark-yellow: #C68811;
$dark-green: #0AA250;

:root {
	--link-color: #{$red};
}
