.contacts {
	h1 {
		margin-bottom: 24px;
	}

	.info {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 24px;
		margin-bottom: 24px;

		.block {
			.item {
				display: flex;
				color: $black;
				@extend %subtitle;

				+ .item {
					margin-top: 8px;
				}

				p {
					span {
						display: block;
					}

					+ .icon {
						margin-left: 12px;
					}
				}

				.icon {
					background: $red;

					+ p,
					+ .icon {
						margin-left: 12px;
					}
				}
			}
		}
	}

	.map {
		@include absolute-container(21, 9);
	}

	@media (max-width: $tablet) {
		.info {
			grid-template-columns: 1fr;
			gap: 16px;
			margin-bottom: 32px;

			.block {
				.item {
					+ .item {
						margin-top: 16px;
					}
				}
			}
		}

		.map {
			padding-bottom: 0;
			height: 248px;
			max-height: 70vh;
		}
	}
}