.m {
	&x-auto {
		margin-left: auto;
		margin-right: auto;
	}

	&y-auto {
		margin-top: auto;
		margin-bottom: auto;
	}

	@for $i from 0 through 16 {
		&-#{$i} {
			margin: 8px * $i;
		}
	}

	@for $i from 0 through 16 {
		&t-#{$i} {
			margin-top: 8px * $i;
		}
	}

	@for $i from 0 through 16 {
		&r-#{$i} {
			margin-right: 8px * $i;
		}
	}

	@for $i from 0 through 16 {
		&b-#{$i} {
			margin-bottom: 8px * $i;
		}
	}

	@for $i from 0 through 16 {
		&l-#{$i} {
			margin-left: 8px * $i;
		}
	}

	@for $i from 0 through 16 {
		&y-#{$i} {
			margin-top: 8px * $i;
			margin-bottom: 8px * $i;
		}
	}

	@media (max-width: $tablet) {
		&x-sm-auto {
			margin-left: auto;
			margin-right: auto;
		}

		@for $i from 0 through 16 {
			&-sm-#{$i} {
				margin: 8px * $i;
			}
		}

		@for $i from 0 through 16 {
			&t-sm-#{$i} {
				margin-top: 8px * $i;
			}
		}

		@for $i from 0 through 16 {
			&r-sm-#{$i} {
				margin-right: 8px * $i;
			}
		}

		@for $i from 0 through 16 {
			&b-sm-#{$i} {
				margin-bottom: 8px * $i;
			}
		}

		@for $i from 0 through 16 {
			&l-sm-#{$i} {
				margin-left: 8px * $i;
			}
		}

		@for $i from 0 through 16 {
			&y-sm-#{$i} {
				margin-top: 8px * $i;
				margin-bottom: 8px * $i;
			}
		}
	}
}

.p {
	@for $i from 0 through 16 {
		&-#{$i} {
			padding: 8px * $i;
		}
	}

	@for $i from 0 through 16 {
		&t-#{$i} {
			padding-top: 8px * $i;
		}
	}

	@for $i from 0 through 16 {
		&r-#{$i} {
			padding-right: 8px * $i;
		}
	}

	@for $i from 0 through 16 {
		&b-#{$i} {
			padding-bottom: 8px * $i;
		}
	}

	@for $i from 0 through 16 {
		&l-#{$i} {
			padding-left: 8px * $i;
		}
	}

	@for $i from 0 through 16 {
		&y-#{$i} {
			padding-top: 8px * $i;
			padding-bottom: 8px * $i;
		}
	}

	@media (max-width: $tablet) {
		&x-sm-auto {
			padding-left: auto;
			padding-right: auto;
		}

		@for $i from 0 through 16 {
			&-sm-#{$i} {
				padding: 8px * $i;
			}
		}

		@for $i from 0 through 16 {
			&t-sm-#{$i} {
				padding-top: 8px * $i;
			}
		}

		@for $i from 0 through 16 {
			&r-sm-#{$i} {
				padding-right: 8px * $i;
			}
		}

		@for $i from 0 through 16 {
			&b-sm-#{$i} {
				padding-bottom: 8px * $i;
			}
		}

		@for $i from 0 through 16 {
			&l-sm-#{$i} {
				padding-left: 8px * $i;
			}
		}

		@for $i from 0 through 16 {
			&y-sm-#{$i} {
				padding-top: 8px * $i;
				padding-bottom: 8px * $i;
			}
		}
	}
}
