.order-status-card {
	padding: 32px;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&.red {
		--color: #{$red};
		background: $pink;
	}

	&.yellow {
		--color: #{$dark-yellow};
		background: $yellow;
	}

	&.green {
		--color: #{$dark-green};
		background: $light-green;
	}

	h3 {
		color: var(--color);
		margin-bottom: 12px;
	}

	h4 {
		margin-bottom: 8px;
	}

	.button-variable {
		margin-top: 24px;
	}

	p {
		+ p {
			margin-top: 12px;
		}

		&:last-of-type {
			margin-bottom: auto;
		}

		@extend %text;

		.color {
			color: var(--color);
		}
	}

	@media (max-width: $tablet) {
		padding: 12px;
	}
}