.order-detail {
	> h1 {
		margin-bottom: 64px;
	}

	> h2 {
		margin-bottom: 48px;
	}

	> h3 {
		margin-top: 48px;
		margin-bottom: 32px;
	}

	@media (max-width: $tablet) {
		> h1 {
			margin-bottom: 32px;
		}

		> h2 {
			margin-bottom: 24px;
		}

		> h3 {
			margin-top: 32px;
			margin-bottom: 32px;
		}
	}
}