@import "breakpoint";
@import "color";

.quantity {
	position: relative;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;

	input {
		height: 24px;
		width: 48px;
		display: flex;
		align-items: center;
		text-align: center;
		border: none;
		@extend %h5;
		// margin: 0 12px;
		background: transparent;
	}

	.icon {
		cursor: pointer;
		background: $red;
	}

	@media (max-width: $tablet) {
		height: 50px;
		background: white;
		border-radius: 4px;
	}
}